.olPopup {
  position: absolute;
  background-color: #e5e5e5;
  box-shadow: 0 1px 4px rgba(0,0,0,0.2);
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #cccccc;
  bottom: 12px;
  left: -50px;
  min-width: 280px;
}
.olPopup:after, .olPopup:before {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.btn {
  border-radius: 12px !important;
  padding: 4px !important;
  display: inline-block !important;
  margin-right: 8px !important;
  font-size: .8rem !important;
}

.popup-text {
  text-align: left !important;
  margin: 0 0 1em;
  font-size: 1rem;
  color: #4e5d6c;
}

p {
  margin: 0 0 0 !important;
}


